<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
  </div>
</header>

<div class="container">
  <div class="row spacer text-center">

    <div class="col-md-6">
      <div class="jumbotron" style="height:300px">
        <h2>Visitors</h2>

        <div class="row">

          <div class="col-md-6">
            <h3>Today</h3>

            <div class="row">
              <div class="col-md-6">
                <h4>New</h4>

                <p class="lead">N/A</p>
              </div>
              <div class="col-md-6">
                <h4>Repeat</h4>

                <p class="lead">N/A</p>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <h3>Week</h3>

            <div class="row">
              <div class="col-md-6">
                <h4>New</h4>

                <p class="lead">N/A</p>
              </div>
              <div class="col-md-6">
                <h4>Repeat</h4>

                <p class="lead">N/A</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron" style="height:300px">
        <h2>Opportunities</h2>
        <h4>
          <small>({{showCriteria(criteria)}})</small>
        </h4>

        <div class="row" style="display: table; table-layout: fixed;">

          <div class="col-md-4 vcenter">
            <p ng-repeat="oppt in opportunities"><a ng-click="updateOpportunity(oppt)" style="cursor: pointer;">{{oppt.distance}}
              mi</a></p>
          </div>


          <div class="col-md-4 vcenter">
            <h1>{{currentOppt.count}}</h1>
          </div>

          <div class="col-md-4 vcenter">
            <h3>Now</h3>
          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="row spacer text-center">

    <div class="col-md-6" ng-hide="isCampaignStarted()">
      <div class="alert alert-warning" role="alert">No Campaigns yet</div>
    </div>

    <div class="col-md-6" ng-show="isCampaignStarted()">
      <div class="jumbotron">
        <h2>Campaigns</h2>
        <h4>
          <small>({{showCriteria(campaign.criteria)}})</small>
        </h4>
        <h4>
          <small class="text-primary">{{campaign.createdAt|date:'dd MMM yyyy'}}</small>
        </h4>
        <p>{{campaign.message}}</p>

        <div class="row">

          <div class="col-md-4">
            <h3>Available</h3>

            <p>{{campaign.available}}</p>
          </div>

          <div class="col-md-4">
            <h3>Reached</h3>

            <p>{{campaign.userGroup.length}}</p>
          </div>

          <div class="col-md-4">
            <h3>Limit 30</h3>

            <p>{{campaign.limit}}</p>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>@Lazar Kanev</p>
  </div>
</footer>
